.header__logo {
  background-image: url(../../../images/image.svg);
  background-size: cover;
}

@media screen and (min-width: 1280px) {
  .header__logo {
    max-width: 180px;
    min-height: 52px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__logo {
    max-width: 180px;
    min-height: 52px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo {
    max-width: 180px;
    min-height: 52px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    max-width: 146px;
    min-height: 42px;
  }
}
