.header {
  display: flex;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .header {
    min-width: 92.4%;
    max-width: 92.5%;
    padding-left: 48px;
    padding-top: 28px;
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    min-width: 90.4%;
    max-width: 90.5%;
    padding-left: 48px;
    padding-top: 28px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    min-width: 93.7%;
    max-width: 93.8%;
    padding-left: 24px;
    padding-top: 28px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    min-width: 89.9%;
    max-width: 90%;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 48px;
  }
}
