.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

@media screen and (min-width: 1280px) {
  .cover {
    min-width: 92.5%;
    max-width: 92.5%;
    min-height: 740px;
    max-height: 741px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    min-width: 92.5%;
    max-width: 100%;
    min-height: 740px;
    max-height: 741px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    min-width: 98%;
    max-width: 100%;
    min-height: 740px;
    max-height: 741px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    justify-content: start;
  }
}
