.cover {
  position: relative;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

@media screen and (min-width: 1280px) {
  .cover {
    min-width: 92.5%;
    max-width: 92.5%;
    min-height: 740px;
    max-height: 741px;
    margin: auto;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: repeat(4, 25%);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    min-width: 92.5%;
    max-width: 100%;
    min-height: 740px;
    max-height: 741px;
    grid-template-columns: 29% 42% 29%;
    grid-template-rows: repeat(4, 25%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    min-width: 98%;
    max-width: 100%;
    min-height: 740px;
    max-height: 741px;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(4, 25%);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    justify-content: start;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(4, 25%);
  }
}
